{% extends "::base.html.twig" %}

{% block body %}
    {% block header %}

        {% if is_granted('ROLE_USER') %}
            <nav class="navbar navbar-default">
                <div class="container container-fluid">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                        <li><a href="{{ path('app_basic_newrestaurant') }}">Add new place</a></li>
                    </ul>
                    <form action="{{ path('app_basic_search') }}" method="post" class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" name="data" class="form-control" placeholder="Search" >
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </nav>
        {% else%}
            <nav class="navbar navbar-default">
                <div class="container container-fluid">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('fos_user_registration_register') }}">Регистрация</a></li>
                        <li><a href="{{ path('fos_user_security_login') }}">Авторизация</a></li>
                    </ul>
                    <form action="{{ path('app_basic_search') }}" method="post" class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" name="data" class="form-control" placeholder="Search" >
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </nav>
        {% endif %}
    {% endblock header %}
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
    {% block footer %}
    {% endblock footer %}
{% endblock body %}