{% extends "@App/Basic/header.html.twig" %}

{% block title %}{% endblock %}

{% block content %}

    <div class="container">
        {% for restaurant in restaurants %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <a href="{{ path('app_basic_profilerestaurant', {'restaurant_id':restaurant.id}) }}"><img src="{{ vich_uploader_asset(restaurant, 'imageFile') }}" class="img-responsive" >
                    <div>{{ restaurant.title }}</div></a>

            </div>
        {% endfor %}

    </div>

{% endblock %}