{% extends "@App/Basic/header.html.twig" %}

{% block title %}{% endblock %}

{% block content %}

    <div class="container">
        <h1>Add new place</h1>

        {{ form_start(form) }}
        <div class="col-lg-6 new-restaurant">
            Title
        </div>
        <div class="col-lg-6 new-restaurant">
            {{ form_widget(form.title) }}
        </div>
        <div class="col-lg-6 new-restaurant">
            Category
        </div>
        <div class="col-lg-6 new-restaurant">
            {{ form_widget(form.category) }}
        </div>
        <div class="col-lg-6 new-restaurant">
            Description
        </div>
        <div class="col-lg-6 new-restaurant">
            {{ form_widget(form.description) }}
        </div>
        <div class="col-lg-6 new-restaurant">
            Main photo
        </div>
        <div class="col-lg-6 new-restaurant">
            {{ form_widget(form.imageFile) }}
        </div>
        <div class="col-lg-6 new-restaurant">
            <p>
                By submitting this form, you agree that the following information will be submitted to the public
                domain, and administrators of this site will have full control over the said information
            </p>
        </div>
        <div class="col-lg-6 new-restaurant">
            <input type="checkbox" required> I understand
        </div>

        <div class="col-lg-12 new-restaurant">
            {{ form_widget(form.save) }}
        </div>

        {{ form_end(form) }}
    </div>


{% endblock %}