{% extends "@App/Basic/header.html.twig" %}

{% block title %}{% endblock %}

{% block content %}

    <div class="container">
        <div class="col-lg-8">
            <h1>{{ restaurant.title }}</h1>
            <p>{{ restaurant.category }}</p>
            <p>{{ restaurant.description }}</p>
        </div>
        <div class="col-lg-4">
            <img src="{{ vich_uploader_asset(restaurant, 'imageFile') }}" class="img-responsive" >
        </div>
        <div>
            <h4>Gallery</h4>
            {% for image in images %}
                <div style="display: inline-block">
                    <img height="100" width="100" src="{{ vich_uploader_asset(image, 'imageFile') }}" class="img-responsive" >
                </div>
            {% endfor %}
        </div>

        <div>
            <h4>Reviews</h4>
            {% for review in reviews %}
                <div>

                    {{ form_start(delete_comment[review.id]) }}
                    {{ form_widget(delete_comment[review.id].delete, {'attr': {'class': 'btn btn-sm btn-danger'}}) }}
                    {{ form_end(delete_comment[review.id]) }}

                    <p> On {{ review.publishdate | date ('d.m.Y') }}, {{ review.user }} said</p>
                    <p>{{ review.comment }}</p>
                    <p>Quality of food {{ review.qualityoffood }}</p>
                    <p>Service quality {{ review.servicequality }}</p>
                    <p>Interior {{ review.interior }}</p>
                </div>
                <hr>
            {% endfor %}
        </div>
        {%  if is_granted('ROLE_USER') %}
            {% if review_form is not empty %}
                <div>
                    <h4>Add review</h4>

                    {{ form_start(review_form) }}
                    {{ form_widget(review_form) }}
                    {{ form_end(review_form) }}
                </div>
            {% endif %}
            <hr>
            <div>
                <h4>Upload new photo</h4>

                {{ form_start(image_form) }}
                {{ form_widget(image_form) }}
                {{ form_end(image_form) }}
            </div>
        {% endif %}
    </div>

{% endblock %}